<!--Sub Navigation-->
<div id="subnav-wrap" class="nav-main">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first">
            <a href="#">开始</a>
            <ul class="menu nav">
               <li class="leaf"><a href="{{page.baseurl}}architecture/bk-architecture.html">Magento 架构</a></li>
               <li class="first leaf"><a href="{{page.baseurl}}release-notes/bk-release-notes.html">版本发布信息</a></li>

            </ul>
         </li>
         <li class="first">
            <a href="#">系统管理员</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{page.baseurl}}install-gde/bk-install-guide.html">安装指南</a></li>
               {% if page.guide_version == "2.2" %}
               <li class="leaf"><a href="{{page.baseurl}}comp-mgr/bk-compman-upgrade-guide.html">扩展更新和系统升级指南</a></li>
               {% elsif page.guide_version == "2.1" %}
               <li class="leaf"><a href="{{page.baseurl}}comp-mgr/bk-compman-upgrade-guide.html">组件管理器和系统升级指南</a></li>
               {% elsif page.guide_version == "2.0" %}
               <li class="leaf"><a href="{{page.baseurl}}comp-mgr/bk-compman-upgrade-guide.html">组件管理器和系统升级指南</a></li>
               {% endif %}
               <li class="leaf"><a href="{{page.baseurl}}config-guide/bk-config-guide.html">设置指南</a></li>
               <li class="leaf"><a href="{{page.baseurl}}migration/bk-migration-guide.html">迁移指南</a></li>
               <li class="leaf"><a href="{{page.baseurl}}cloud/bk-cloud.html">Magento企业云指南</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">开发者</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{page.baseurl}}frontend-dev-guide/bk-frontend-dev-guide.html">前端开发者指南</a></li>
               {% if page.guide_version == "2.1" %}
               <li class="first leaf"><a href="{{page.baseurl}}ui_comp_guide/bk-ui_comps.html">UI组件指南</a></li>
               {% elsif page.guide_version == "2.0" %}
               <li class="first leaf"><a href="{{page.baseurl}}ui-components/ui-component.html">UI 组件</a></li>
               {% endif %}


               <li class="first leaf"><a href="{{page.baseurl}}javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript 开发者指南</a></li>
               <li class="first leaf"><a href="{{page.baseurl}}extension-dev-guide/bk-extension-dev-guide.html">PHP开发者指南</a></li>
               <li class="first leaf"><a href="{{page.baseurl}}ext-best-practices/bk-ext-best-practices.html">扩展开发者最佳实践指南</a></li>
               <li class="leaf"><a href="{{page.baseurl}}get-started/bk-get-started-api.html">开始使用Magento Web APIs</a></li>
               <li class="leaf"><a href="{{page.baseurl}}rest/bk-rest.html">REST手册</a></li>
               <li class="leaf"><a href="{{page.baseurl}}soap/bk-soap.html">SOAP手册</a></li>
               <li class="leaf"><a href="{{page.baseurl}}coding-standards/bk-coding-standards.html">代码规范</a></li>
               <li class="leaf"><a href="{{page.baseurl}}mrg/intro.html">模块手册指南</a></li>
               {% if page.guide_version == "2.1" %}
                   <li class="leaf"><a href="{{page.baseurl}}extension-dev-guide/staging.html">Staging</a></li>
               {% endif %}
            </ul>
         </li>
         <li class="first">
            <a href="#">设计者</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{page.baseurl}}pattern-library/bk-pattern.html">Admin Design Pattern Library</a></li>
               <li class="leaf"><a href="{{page.baseurl}}design-styleguide/bk-styleguide.html">Admin Style Guide</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">贡献者</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{page.baseurl}}contributor-guide/contributing.html">贡献指南</a></li>
            </ul>
         </li>
          <li class="first">
              <a href="{{page.baseurl}}test/testing.html">测试</a>
              <ul class="menu nav">
                  <li class="leaf"><a href="{{page.baseurl}}mtf/mtf_introduction.html">功能测试</a></li>
                  <li class="leaf"><a href="{{page.baseurl}}test/integration/integration_test_execution.html">集成测试</a></li>
                  <li class="leaf"><a href="{{page.baseurl}}test/js/jasmine.html">JavaScript单元测试</a></li>
                  <li class="leaf"><a href="{{page.baseurl}}test/unit/unit_test_execution.html">PHP 单元测试</a></li>
                  <li class="leaf"><a href="{{page.baseurl}}get-started/web-api-functional-testing.html">Web API功能测试</a></li>
              </ul>
          </li>
         <li class="first">
            <a href="{{page.baseurl}}howdoi/bk-how-do-i.html">我如何?</a>
         </li>
      </ul>

      <div class ="search">
         <div class="search-icon"></div>
         <form id="searchbox" name="gs" method="GET" action="{{site.baseurl}}search.html">
            <input type="text" name="q" id="searchtext" value="" placeholder="搜索" autofocus>
         </form>
      </div><!-- END searchbox-->

      <a href="#" class="nav-close">&times;</a>

   </div> <!--End subnav -->
</div><!--End subnav-wrap -->
<div class="nav-main-fader"></div>
